[submodule "mvp-spec/partials/--force"]
	path = mvp-spec/partials/--force
	url = https://github.com/criteo/paf-mvp-demo-express
[submodule "mvp-spec/partials/paf-mvp-demo-express"]
	path = mvp-spec/partials/paf-mvp-demo-express
	url = https://github.com/criteo/paf-mvp-demo-express
